.left {
  width: calc(60% - 2rem);
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.buttons {
  justify-content: flex-start;
}

.mediaFlex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .git {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .mediaFlex {
    width: 25%;
  }
}

@media screen and (max-width: 615px) {
  .mediaFlex {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .left {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .right {
    display: none;
  }
}
