.left {
  width: calc(60% - 2rem);
}

.right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.follow {
  display: flex;
  align-items: center;
  margin-top: 4rem;
  font-size: 1.4rem;
}

.follow div {
  margin: 0;
}

.buttons {
  justify-content: flex-start;
}

.mediaFlex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .buttons {
    justify-content: center;
  }

  .git {
    width: 90%;
    margin: auto;
  }

  .mediaFlex {
    width: 25%;
  }

  .follow {
    justify-content: center;
  }

  .left {
    width: 100%;
    text-align: center;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 615px) {
  .mediaFlex {
    display: block;
    text-align: center;
  }
}
