.button {
  background-color: #d27b4b;
  width: 125px;
  height: 55px;
  padding: 10px 15px;
  border: 1.5px solid #fa5700;
  border-radius: 10px;
  box-shadow: 0 2px 8px 0 #fa5700;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 50px 0 0;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.email {
  margin-left: 5px;
  font-size: 1.1rem;
}

@media screen and (max-width: 767px) {
  .button {
    margin: 20px 0 0 0;
  }
}
