.nav {
  display: flex;
  justify-content: flex-end;
  padding: 1.2rem 4rem;
}

.nav > h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding-right: 1.6rem;
}

.links:hover {
  color: #ff7736;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.active {
  color: #ff7736;
}

.nonActive {
  color: white;
}
