.card {
  margin-top: 2rem;
  width: calc(50% - 2rem);
}

.hobbiesImage {
  border-radius: 0.5rem 0.5rem 0 0;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.35rem;
}
