.card {
  width: calc(33% - 2rem);
}

.projectImage {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 1.35rem;
}

.techno {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.links {
  margin-top: 0.5rem;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .left {
    width: 100%;
    text-align: center;
  }

  .card {
    max-width: 80%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .techno {
    justify-content: center;
  }

  .main {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
