@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#Mislav,
#Parg {
  color: var(--main-color);
}

#follow {
  display: flex;
  align-items: center;
  margin-top: 4rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 4rem;
  gap: 2rem;
}

.main-color {
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  #follow {
    justify-content: center;
  }
}
